* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
}

body {
    overflow: scroll;
    background-color: black;
}

.panel {
    width: 1600px;
    height: 1000px;  
}

.panel-left, .panel-right {
    height: 500px;
}

.panel-left {
   background-color: rgb(105, 105, 117);
   border: 1px solid red;
   border-radius: 15px 0 0 15px;
}

.panel-right {
    background-color: rgb(105, 105, 117);
    border-radius: 0 15px 15px 0;
}

