* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 1600px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(20, 20, 32, .938);
    overflow: scroll;
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.panel {
    width: 1600px;
    height: 90%;
    /* border: 1px solid rgba(20, 20, 32, 0.938); */
    border-radius: 15px;
    overflow: hidden;
}

.panel-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(86, 86, 107, .938);
}

.panel-right {
    background-image: linear-gradient(180deg, rgba(86, 86, 107, .938) 0%, rgba(20, 20, 32, .938) 100%); 
}

.date-box {
    height: 200px;
}

.date-box .day {
    font-size: 1.5rem;
}

.date-box .time {
    font-size: 3rem;
    font-weight: bold;
    background: #7700FF;
    background: -webkit-linear-gradient(to bottom right, #7700FF 7%, #0051ffb9 83%);
    background: -moz-linear-gradient(to bottom right, #7700FF 7%, #00aeffe1 83%);
    background: linear-gradient(to bottom right, #7700FF 7%, #00aeffe8 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.date-box .date {
    font-size: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.menu a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    text-decoration: none;
    color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.menu a:hover {
    background-color: transparent;
    background-image: linear-gradient(160deg, rgba(119, 0, 255, 0.251) 0%, rgba(0, 174, 255, 0.251) 100%);
}

.menu-item i {
    font-size: 2rem;
    margin-bottom: .4rem;
}

.menu-item p {
    font-size: 1rem;
    text-transform: uppercase;
}

.info-box h3 {
    font-size: 1.5rem;
}

.statistics-item {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
    color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.statistics-item:hover {
    background-color: rgba(255, 255, 255, .08);
}
.statistics p {
    font-size: .7rem;
}

table {
    font-size: .8rem;
}

.page-link {
    padding: .4rem 1.5em;
    font-size: .6rem;
    background-color: transparent;
    color: white;
}

.page-link:hover {
    background-image: linear-gradient(160deg, rgba(119, 0, 255, 0.251) 40%, rgba(0, 174, 255, 0.251) 90%);
}